<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720612731686-p3kpq8mo1v2krrjd4ukd962ji6gp6eo5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720612731686-p3kpq8mo1v2krrjd4ukd962ji6gp6eo5</string>
	<key>API_KEY</key>
	<string>AIzaSyC6nEOfDJrWVMc6sRqdBdF974nChVaJiHA</string>
	<key>GCM_SENDER_ID</key>
	<string>720612731686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.NickKnierim.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-2d348</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-2d348.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720612731686:ios:6b57b22ccb65833dd22fe7</string>
</dict>
</plist>